
{% block body %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EstionAR | General </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="{{asset('public/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="{{asset('public/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Ionicons -->
    <link href="{{asset('public/Ionicons/css/ionicons.min.css') }}" rel="stylesheet">

    <!-- Theme style -->
    <link href="{{asset('public/estilos_varios/css/AdminLTE.min.css') }}" rel="stylesheet">

    <!-- the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="{{asset('public/estilos_varios/css/skins/skin-blue.min.css') }}" rel="stylesheet">

    <script src="{{ asset('public/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('public/js/bootstrap.min.js')}}"></script>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .color-palette {
            height: 35px;
            line-height: 35px;
            text-align: center;
        }

        .color-palette-set {
            margin-bottom: 15px;
        }

        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette-box h4 {
            position: absolute;
            top: 100%;
            left: 25px;
            margin-top: -40px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }


    </style>
</head>


<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">


            <span class="logo-lg"><b> EstacionAR</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </a>


            <!-- Mensajes de la barra de nevegacion arriba-------------- -->


            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">{{  mensaje|length }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header"> Mensajes</li>



                            <!-- inner menu: contains the actual data -->

                            {% for msj in mensaje %}
                                <div class="row">
                                    <div class="col-md-12">

                                        <ul class="list-group">

                                            <li class="list-group-item"> Nombre: {{ msj.nombre }}</li>

                                            <li class="list-group-item">{{ msj.mensaje }}</li>


                                        </ul>


                                    </div>
                                </div>
                            {% endfor %}
                            <!-- end message -->

                        </ul>
                    </li>










                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{asset('public/estilos_varios/img/photo1.png') }}" class="user-image" alt="User Image">
                            <span class="hidden-xs"> Administrador </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{asset('public/estilos_varios/img/photo1.png') }}" class="img-circle" alt="User Image">

                                <p>
                                    {{ app.user.nombre }} - administrador
                                    <small>Admin de el establecimiento:</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">

                                    <div class="col-ls-6 text-center">
                                        <a href="#"> Reservas </a>
                                    </div>

                                </div>
                                <!-- /.row -->
                            </li>



                            <!-- Menu Footer ( abajo de la foto --------->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href={{ asset('usuario')}} class="btn btn-default btn-flat">Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href={{ asset('logout')}} class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>



    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">


            <!-- Sidebar user panel, PANEL LADO IZQUIERDO -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{asset('public/estilos_varios/img/photo1.png') }}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Admin</p>
                    <small><i class="fa fa-circle text-success"></i> Online</small>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">

              <span class="input-group-btn">

              </span>
                </div>
            </form>

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menu de navegacion.</li>
                <li class="treeview">
                    <a id="usuarios" href="href={{ asset('proyecto_usuarios')}}">
                        <span class="glyphicon glyphicon-user"></span> <span>Usuarios</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <script>
                        $( document ).ready(function() {
                            $("#usuarios").click(function() {
                                //alert("Alert");
                                /*var a = window.location.toString();
                                alert(a.split("/"));*/
                                location.href ="http://127.0.0.1:8000/admin/usuarios";
                            });
                        });
                    </script>
                </li>




                <li>
                    <a id="autos" href="#">
                        <i class="fa fa-car" ></i> <span> Autos </span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <script>
                        $( document ).ready(function() {
                            $("#autos").click(function() {
                                //alert("Alert");
                                /*var a = window.location.toString();
                                alert(a.split("/"));*/
                                location.href ="http://127.0.0.1:8000/admin/auto";
                            });
                        });
                    </script>
                </li>


                <li class="header">Recordatorios</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Importantes</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Asuntos pendientes</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>




    <!-- Elementos del medio---- -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Vista general
            </h1>
            <ol class="breadcrumb">
                <li><a href= {{ path('proyecto_homepage') }} ><i class="fa fa-arrow-left"></i> Home</a></li>
                <li class="active">General</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">


            <!-- START ALERTS AND CALLOUTS -->
            <h2 class="page-header">Lugares</h2>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">

                            <h3 class="box-title">Lugares</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">


                                {% if((lugares|length)>0) %}

                                    <table class="table table-hover">
                                        <tr>
                                            <th>establecimiento</th>
                                            <th>lugares disponibles</th>
                                        </tr>
                                        {% for item in lugares %}
                                            <tr>
                                                <td>{{ item.getNombre_establecimiento() }}</td>
                                                <td>{{ item.getCantidad_lugares_disponibles()}}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <table class="table table-hover">
                                        <tr>
                                            <th>establecimiento</th>
                                            <th>cantidad lugares</th>
                                        </tr>
                                        <tr>
                                            <td colspan="2"  style="text-align: center;" >No encontramos establecimientos</td>
                                        </tr>
                                    </table>
                                {% endif %}



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->


                <!-- START CUSTOM TABS -->
                <h2 class="page-header">Alertas personalizadas.</h2>

                <div class="row">
                    <div class="col-md-6">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab"> Pestaña 1</a></li>
                                <li><a href="#tab_2" data-toggle="tab">Pestaña 2</a></li>
                                <li><a href="#tab_3" data-toggle="tab">Pestaña 3</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Opciones <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Accion</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Accion 2</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Algo</a></li>
                                        <li role="presentation" class="divider"></li>

                                    </ul>
                                </li>
                                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <b>Ejemplo de uso</b>

                                    <p>Aca va un parrafo cualquiera.</p>
                                    A wonderful serenity has taken possession of my entire soul,
                                    like these sweet mornings of spring which I enjoy with my whole heart.
                                    I am alone, and feel the charm of existence in this spot,
                                    which was created for the bliss of souls like mine. I am so happy,
                                    my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
                                    that I neglect my talents. I should be incapable of drawing a single stroke
                                    at the present moment; and yet I feel that I never was a greater artist than now.
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    Aca va un parrafo en la pestaña 2.
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                    <!-- /.col -->






        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b></b>
        </div>
        <div class ="text-center">
            <strong>Copyright &copy; 2017 <a href="#"></a>.</strong> All rights
            reserved.
        </div>
    </footer>



    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <!-- TAB DEL LADO DERECHO AL LADO DEL PERFIL ----- -->

            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Actividad reciente</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Tu vieja cumple años</h4>

                                <p>Es el 19 de octubre</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nuevo usuario ingreso</h4>

                                <p>nora@gmail.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->



                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">Opciones generales</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Usar panel no se cuanto
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Info sobre de eso
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Permitir todos los mails
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Opciones sobre eso
                            </p>
                        </div>
                        <!-- /.form-group -->

                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<script src="{{asset('public/js/jquery-3.2.1.min.js') }}""></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{asset('public/css/bootstrap.min.css') }}"></script>
<!-- FastClick -->
<script src="{{asset('public/fastclick/lib/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{asset('public/estilos_varios/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset('public/estilos_varios/js/demo.js') }}"></script>

{#<script>
    $( document ).ready(function() {
        $("#autos").click(function() {
            //alert("Alert");
            var a = window.location.toString();
            alert(a.split("/"));
            location.href ="http://127.0.0.1:8000/usuario/";
        });
    });
</script>#}

{% endblock body %}

