{% extends "::base.html.twig" %}
{% block body %}
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script><!-- No borrar esto-->
<script>
    function borrarReserva($idReserva) {
        if (confirm("Esta seguro?"+ $idReserva )){
            $.ajax({
                url: "{{ path('borrar_reserva') }}",
                type: "POST",
                dataType: "json",
                data: {
                    "id": $idReserva
                }
            }).always(function () {
                alert("Reserva eliminada");
                location.reload(true);
            });}
        else{alert("Operación cancelada")}
    }

</script>

    <style>
        html, body {
            color: #fff;
        }

        .navbar-inverse{
            position: relative;
        }

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            color: black;
        }


    </style>


    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>auto</th>
                <th>lugar</th>
                <th>desde</th>
                <th>hasta</th>


            </tr>
            {% for item in reservas %}
                <tr>

                    <td> {{ item.id }}</td>
                    <td> {{ item.idAuto.patente }} </td>
                    <td> {{ item.idLugar.codigo }} </td>
                    <td> {{ item.fechaDesde }} </td>
                    <td> {{ item.fechaHasta }} </td>
                    <td><button class="btn btn-success" onclick="borrarReserva({{ item.id }})" >borrar</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}