<h1>test</h1>
{{ establecimiento.nombre }}
Reservar con: {{ app.user.autos[0].patente }}

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script><!-- No borrar esto-->
<script>
    function guardarReserva($lugar ,$desde,$hasta,$auto) {
        alert($lugar + "-" + $desde + "-" + $hasta + "-" + $auto);
        $.ajax({
            url: "{{ path('reservar') }}",
            type: "POST",
            dataType: "json",
            data: {
                "lugar": $lugar,
                "desde": $desde,
                "hasta": $hasta,
                "auto": $auto
            }
        }).done(function () {
            alert("Data Saved");
            location.reload(true);
        });
    }

</script>

{%  if lugares %}
    <div>
        <table>
            <tr>
                <th>cod</th>
                <th>id</th>
                <th>estado</th>
                <th>establecimiento</th>
            </tr>
            {% for item in lugares %}
                <tr>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.estado }}</td>
                    <td><button onclick="guardarReserva({{ item.id }},{{ Desde }},{{ Hasta }},{{ app.user.autos[0].id }})" >reservar</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{%  if reservas %}
    <div>
        <table>
            <tr>
                <th>desde</th>
                <th>hasta</th>
            </tr>
            {% for item in reservas %}
                <tr>
                    <td>{{ item.fechaDesde }}</td>
                    <td>{{ item.fechaHasta}}</td>
                    <td>{{ item.idLugar.id }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

