{% extends "::base.html.twig" %}
{% block body %}
    <script>
            function guardarReserva($lugar ,$desde,$hasta,$auto,$usuario) {
            if (confirm("Esta seguro?")){
                $.ajax({
                    url: "{{ path('reservar') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "lugar": $lugar,
                        "desde": $desde,
                        "hasta": $hasta,
                        "auto": $auto,
                        "usuario": $usuario
                    },

                }).always(function () {
                    alert("Se ha reservado el lugar");
                    $("#"+$lugar).remove();
                });}
            else{alert("Operación cancelada")}
        }

    </script>


<style>
        html, body {
            color: #fff;
        }

         .navbar-inverse{
           position: relative;
        }

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            color: black;
        }


</style>


<div class="container">
    <h1>Reservas</h1>

   Reservar en {{ establecimiento.nombre }} con: {{ app.user.autos[0].patente }}
   El precio será:
    {% if Hasta > 0%}
        ${{ (establecimiento.precioHora) * ((Hasta-Desde)/10000 )}} ({{ ((Hasta-Desde)/10000 ) }} horas)
    {% else %}
        ${{ (establecimiento.precioHora) }} por hora.
    {% endif %}

    <div>Seleccione el lugar y se efectuará la reserva:</div>
    <br/>
    {%  if lugares %}

        <table class="table table-hover">
            <tr>
                <th>cod</th>
                <th>estado</th>
                <th>establecimiento</th>
                <th></th>
            </tr>
            {% for item in lugares %}
                <tr id="{{ item.id }}">
                    <td>{{ item.codigo }}</td>
                   {% if item.estado == false  %}
                        <td>disponible</td>
                   {% else %}
                       <td>ocupado</td>
                    {% endif %}
                    <td>{{establecimiento.getNombre()}}</td>
                    <td><button  class="btn btn-success" onclick="guardarReserva(
                                            {{ item.id }},
                                            {{ Desde }},
                                            {{ Hasta }},
                                            {{ app.user.autos[0].id }},
                                            {{ app.user.id }})" >reservar</button></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

</div>
    
{% endblock %}

