{% extends 'base.html.twig' %}
{% block body %}
    <html lang="en">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">EstacionAR</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    {#                    <ul class="nav navbar-nav">
                                            <li><a href="/app_dev.php/establecimientos">Establecimientos</a></li>
                                            <li><a href="{{path ('maps')}}"><b>Mapa</b></a></li>
                                        </ul>#}
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href='#'><span class="glyphicon glyphicon-user"></span> {{app.user.usuario}} </a></li>   
                            <li><a href={{ path('logout') }}><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            {% else %}
                            <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div id="fullscreen_bg" class="fullscreen_bg"/>
        <br/><br/><div class="container"> <br/><br/>
            <div class="row">

                <div class="col-lg-5 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                        <ul class="list-group">
                            <a href="#" class="list-group-item active">
                                <br/><br/><i class="glyphicon glyphicon-user"></i> Perfil<br/><br/>

                            </a>
                            <a href="#" class="list-group-item ">
                                <br/><br/><i class="fa fa-car" aria-hidden="true"></i>Mi estacionamiento<br/><br/>
                            </a>  
                            <a href="#" class="list-group-item ">
                                <br/><br/><i class="glyphicon glyphicon-transfer"></i> Mis reservas<br/><br/>
                            </a>
                            {# <a href="#" class="list-group-item">
                               <br/><br/><h4 class="glyphicon glyphicon-wrench"></h4> Editar mi informacion<br/><br/>
                             </a>#}
                        </ul>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                        <!-- flight section -->
                        <div class="bhoechie-tab-content active">
                            <center>
                                <h1 style="font-size:2em;color:#00001a">Bienvenido {{app.user.usuario}}</h1>
                                <h2 class="glyphicon glyphicon-user" style="font-size:9em;color:#00001a"></h2>
                                <h3 style="margin-top: 0;color:#00001a"><a href="{{path ('auto_new')}}" class="btn btn-sm btn-primary btn-block" role="button">Dar de alta auto</a></h4>
                                    <h4 style="margin-top: 0;color:#00001a"><a href="" class="btn btn-sm btn-primary btn-block" role="button">Tutorial de busqueda y reservas de estacionamientos</a></h5>                 
                                        <h5 style="margin-top: 0;color:#00001a"><a href="" class="btn btn-sm btn-primary btn-block" role="button">Editar mis datos</a></h5>   

                                        </center>
                                        </div>


                                        <div class="bhoechie-tab-content">
                                            <center>
                                                <h0 style="font-size:2em;color:#00001a">Mis estacionamientos</h0><br>
                                                <h1 class="fa fa-car" aria-hidden="true" style="font-size:9em;color:#00001a"></h1>
                                                <h2 style="margin-top: 0;color:#00001a"><a href="/app_dev.php/establecimientos" class="btn btn-sm btn-primary btn-block" role="button">Establecimientos</a></h2>
                                                <h3 style="margin-top: 0;color:#00001a"><a href="{{path ('maps')}}" class="btn btn-sm btn-primary btn-block" role="button">Mapa</a></h3>
                                            </center>
                                        </div>
                                        <div class="bhoechie-tab-content">
                                            <center>
                                                <h0 style="font-size:2em; color:#00001a">Mis reservas</h0><br>
                                                <h1 class="glyphicon glyphicon-transfer" style="font-size:9em;color:#00001a"></h1>
                                                <h2 style="margin-top: 0;color:#00001a"><a href="/app_dev.php/mis_reservas/{{ app.user.id }}" class="btn btn-sm btn-primary btn-block" role="button">Reservas</a></h2> 
                                            </center>
                                        </div>
                                        </div>


                                        </div>
                                        <div class="col-md-6">
                                            <!-- Custom Tabs -->
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab_1" data-toggle="tab">Mis datos</a></li>
                                                    <li><a href="#tab_2" data-toggle="tab">Estacionamientos frecuentes</a></li>

                                                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1">
                                                        <div class="list-group">
                                                            <a class="list-group-item active">Datos de usuario</a>
                                                            <a class="list-group-item">Nombre y apellido: {{app.user.nombre}} {{app.user.apellido}}  </a>
                                                            <a class="list-group-item">Telefono: {{app.user.telefono}}</a>
                                                            {#<a class="list-group-item">E-mail:{{app.user.e_mail}} </a>#}
                                                            {% if ((autos|length)>0) %}
                                                                <a class="list-group-item">Auto: {{ app.user.autos[0].marca }}</a>
                                                                <a class="list-group-item">Modelo: {{ app.user.autos[0].modelo }}</a>
                                                                <a class="list-group-item">Dominio:{{ app.user.autos[0].patente }} </a>
                                                            {%else%}
                                                                <a class="list-group-item" href="{{path('auto_new')}}">DEBE REGISTRAR UN AUTO PARA REALIZAR RESERVAS [click aquí]</a>
                                                            {% endif%}
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_2">
                                                        <div class="list-group">
                                                            <a class="list-group-item active">Estacionamientos frecuentes de {{app.user.nombre}}</a>
                                                            <a class="list-group-item">Nombre </a>
                                                            <a class="list-group-item">Direccion</a>

                                                            <a class="list-group-item">Localidad</a>
                                                            <a class="list-group-item">Provincia</a>
                                                            <a class="list-group-item">Telefono</a>
                                                        </div>
                                                        <!-- /.tab-pane -->

                                                        <!-- /.tab-pane -->
                                                    </div>
                                                    <!-- /.tab-content -->
                                                </div>
                                                <!-- nav-tabs-custom -->
                                            </div>  
                                        </div>

                                        <div class="conteiner">

                                            <div id="map"></div>

                                        </div>
                                        <script>
                                            var map;
                                            function initMap() {
                                                var centro = {lat: -34.7751535, lng: -58.26789550000001};
                                                map = new google.maps.Map(document.getElementById('map'), {
                                                    center: centro,
                                                    zoom: 12
                                                });
                                                //    var marker = new google.maps.Marker({
                                                //        position: centro,
                                                //        map: map
                                                //    });
                                                var markers = [];
                                                //var arrest = [];
                                                var arrest
                                                = {{establecimientos|json_encode|raw}};
                                            {#                                                                alert(JSON.stringify(arrest));#}

                                                            for (var est in arrest) {
                                                        var nom = arrest[est][0][0];
                                                        var dire = arrest[est][0][1];
                                                        var loc = arrest[est][0][2];
                                                        var provi = arrest[est][0][3];
                                                        var lat = arrest[est][1][0];
                                                        var lng = arrest[est][1][1];

                                                        var cadena = '<h3 id="firstHeading" class="firstHeading">' + nom + '</h3>' +
                                                                '<div id="bodyContent">' +
                                                                ' <p><b>Dirección</b> ' + dire +
                                                                ' <b>Localidad</b> ' + loc +
                                                                ' <b>Provincia</b> ' + provi + '</p>';
                                                        var position = new google.maps.LatLng(lat, lng);
                                                        markers[est] = [position, cadena];

                                                    }

                                                    var marc = [];
                                                    for (var i = 0; i < markers.length; i++) {

                                                        var marker = new google.maps.Marker({
                                                            map: map,
                                                            position: markers[i][0]

                                                        });
                                                        var infowindow = new google.maps.InfoWindow({
                                                            content: markers[i][1]
                                                        });
                                                        marc[i] = [marker, infowindow];
                                                    }
                                            {#
                                                                                                for (var i; i <= marc.length; i++) {
                                                                                                    (google.maps.Marker)marc[i][0].addListener('click', function () {
                                                                                                        marc[i][1].open(map, marc[i][0]);
                                                                                                    });
                                                                                                }
                                            #}
                                                }

                                        </script>

                                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD70uQg1AN-QrsX7Q8SYiAUuG3D5CgpttU&callback=initMap"
                                        async defer></script>

                                        </div>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                                        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
                                        <link href="{{asset('public/css/bootstrap.min.css')}}" rel="stylesheet">
                                        <link href="{{asset('public/estilos_varios/css/bootstrap-social.css')}}" rel="stylesheet">
                                        <script src="{{asset('public/estilos_varios/js/user.js')}}"></script>
                                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                                        </html>
                                    {% endblock %}