{% extends "::base.html.twig" %}
 
{% block body %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EstionAR | Lugares </title>    
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link href="{{asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Font Awesome -->
  <link href="{{asset('public/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  
  <!-- Ionicons -->
  <link href="{{asset('public/Ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  
  <!-- Theme style -->
  <link href="{{asset('public/estilos_varios/css/Lugar.css') }}" rel="stylesheet">
  
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="{{asset('public/estilos_varios/skins/skin-blue.min.css') }}" rel="stylesheet">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<style>

    .col-centered{
        float: none;
        margin: 0 auto;
    }

    html, body {
        color: #fff;
    }

    .navbar-inverse{
              position: relative;
           }

   .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            color: black;
        }

</style>
<script>



function search()
{
    var valuecheck = document.getElementById("checkbox1").checked;
    var url = "{{ path('lugar_buscar', {'establecimiento': establecimiento , 'check_value' : 'check_value' })}}";
    url = url.replace('check_value', valuecheck);
    window.location = url; 
    return true;
}
</script>




<div class="container top-buffer">
<ol class="breadcrumb">
    <li><a href="#"><h3>Lugares</h3></a></li>
</ol>
</div>
<div class="container top-buffer">
    <div class="row">
         <div class="col-md-12">
             <div class="col-md-3" style="margin-left: 20px">
                <div class="checkbox">
                    <label><input type="checkbox" value="" id="checkbox1"><strong>disponible</strong></label>
                </div>
            </div>     
           <div class="col-md-2">
                <button type="button" class="btn btn-primary" onclick="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
                <a href="{{ path('lugar_new', { 'establecimiento': establecimiento}) }}" class="btn btn-primary" role="button">new</a>
            </div> 
         </div>
        </div> 
                       	
        <br/>
         
        {% if((lugares|length)>0) %}
            <table class="table table-hover">
                <tr>
                <th>Codigo</th>
                <th>disponible</th>
                <th class="col-md-1"></th>
                
                </tr>
                {% for item in lugares %}
                    <tr>
                        <td>{{ item.Codigo }}</td>
                        {% if item.estado == false  %}
                            <td><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
                            <td class="col-md-1"><a href="{{ path('lugar_delete', { 'id': item.getId() , 'establecimiento': establecimiento }) }}" class="btn btn-danger" role="button">delete</a></td>
                        {% else %}
                            <td> <i class="fa fa-times" aria-hidden="true" style="color:red"></i> </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table class="table table-hover">
                <tr>
                <th>Codigo</th>
                <th>disponible</th>
                <th></th>
                </tr>
                <tr>
                    <td colspan="2"  style="text-align: center;" >No encontramos lugares</td>
                </tr>
            </table>
        {% endif %}
        
        
</div>    



<script src="{{asset('public/js/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{asset('public/css/bootstrap.min.css') }}"></script>
<!-- FastClick -->
<script src="{{asset('public/fastclick/lib/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{asset('public/estilos_varios/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset('public/estilos_varios/js/demo.js') }}"></script>

<script src="{{asset('public/estilos_varios/css/demo.js') }}"></script>

<script src="{{asset('public/estilos_varios/js/selectchoice.js') }}"></script>

{% endblock %}    