{% extends "::base.html.twig" %}
 
{% block body %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EstionAR | Lugares </title>    
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link href="{{asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
  
  <!-- Font Awesome -->
  <link href="{{asset('public/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  
  <!-- Ionicons -->
  <link href="{{asset('public/Ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  
  <!-- Theme style -->
  <link href="{{asset('public/estilos_varios/css/Lugar.css') }}" rel="stylesheet">
  
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="{{asset('public/estilos_varios/skins/skin-blue.min.css') }}" rel="stylesheet">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<style>

.col-centered{
    float: none;
    margin: 0 auto;
}



</style>
<div class="container top-buffer">
<ol class="breadcrumb">
    <li><a href="#"><h3>Lugares</h3></a></li>
</ol>
</div>
<div class="container top-buffer">
    <div class="row">
         <div class="col-md-12">
             <div class="col-md-3">
                <input id="codigo" name='codigo' type="text" placeholder="codigo" class="form-control">
            </div>
             <div class="col-md-1">
                <div class="dropdown">
                   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     Seccion
                     <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                     <li><a href="#">Action</a></li>
                     <li><a href="#">Another action</a></li>
                     <li><a href="#">Something else here</a></li>
                   </ul> 
               </div>
            </div>
             <div class="col-md-1" style="margin-left: 20px">
            <div class="checkbox">
                <label><input type="checkbox" value=""><strong>ocupado</strong></label>
            </div>
            </div>     
           <div class="col-md-2">
                <button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary">New</button>
            </div> 
         </div>
        </div> 
                       	
        <br/>
        
       <div class="row table-responsive">
            <table class="table table-hover">
              <tr>
                <th>
                <div class="row bgStyle1">
              <div class="col-xs-6 col-sm-3"><strong>Ocupado</strong></div>
              <div class="col-xs-6 col-sm-3"><strong>Codigo</strong></div>

              <!-- Add the extra clearfix for only the required viewport -->
              <div class="clearfix visible-xs-block"></div>

              <div class="col-xs-6 col-sm-3"><strong>Seccion</strong></div>
            </div>
                </th>
              </tr>
              <tr>
                <td>
                    <div class="row bgStyle1">
                        <div class="col-xs-6 col-sm-3"><i class="fa fa-check " aria-hidden="true"></i></div>
                        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

                        <!-- Add the extra clearfix for only the required viewport -->
                        <div class="clearfix visible-xs-block"></div>

                        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                    </div>
                </td>
              </tr>
            </table>
        </div>
</div>    

<div class="row">
    <div class="col-lg-4 col-centered">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</div>
<!-- jQuery 3 -->

<script src="{{asset('public/js/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{asset('public/css/bootstrap.min.css') }}"></script>
<!-- FastClick -->
<script src="{{asset('public/fastclick/lib/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{asset('public/estilos_varios/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset('public/estilos_varios/js/demo.js') }}"></script>

<script src="{{asset('public/estilos_varios/css/demo.js') }}"></script>

{% endblock %}    