
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">  
        <title>{% block title %}EstacionAR{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('public/css/style.css')}}" rel="stylesheet" >
            <link href="{{asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{asset('public/css/bootstrap.min.css.map') }}" rel="stylesheet">
            
           
        {% endblock %}
       <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" 
    </head>
    <body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" id="header">
        <div class="navbar-header" >
          <a class="navbar-brand" href="/app_dev.php/">EstacionAR</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/app_dev.php/">Inicio</a></li>
           </ul>
        </div>
      </div>
       </nav>
         
        
         <!--footer-------------->
        <div class="container">
            
        <div class="footer">Página de EstacionAR <strong> Copyright 2017 - All Rights Reserved </strong>.</div>
                
                    <style>
                        
                    html {
                      height: 100%;
                      box-sizing: border-box;
                    }
                    
                    *,
                    *:before,
                    *:after {
                      box-sizing: inherit;
                    }
                    
                    body {
                      background-image: url(http://www.anawalls.com/images/abstract/background-spot-light.jpg) ;
                      position: relative;
                      margin: 100;
                      padding-bottom: 6rem;
                      min-height: 100%;
                      font-family: "Helvetica Neue", Arial, sans-serif; 
                    }
                    
                    .demo {
                      margin: 0 auto;
                      padding-top: 64px;
                      max-width: 640px;
                      width: 94%;
                    }

                    .demo h1 {
                        margin-top: 0;
                    }   

                    /**
                     * Footer Styles
                     */
                    
                    .footer {
                      position:fixed;
                      right:0;
                      bottom:0;
                      left:0;
                      padding:1rem;
                      background-color:#020201;
                      text-align:center;
                    }
                    
                        
                        </style>
        </div>
       
         <!--end footer-------------->
        {% block body  %}               

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-3.2.1.min.js')}}"></script>
            <script src="{{ asset('public/js/dist/carousel.js')}}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
